.cards{
    width:100%;
    margin-left: 4%;
    margin-top: 1%;
    background-color: transparent;
    height: 200px;
}

.displayCards{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}

.describe {
    height:50px;
}

.cards:hover .cardIcons {
    display: flex;
}

.cards:hover .pin {
    display: flex;
}

.cardIcons {
    width:100%;
    display: none;
    justify-content: space-between;
    margin-top: 10%;
    cursor: pointer;
}

.pin{
    margin-top: auto;
    margin-left: auto;
    display:none;
    cursor: pointer;
}

.gridNote {
    margin-left: 20% !important;
    width:60% !important;
    margin-top:1% !important;
}

.dialogIcons {
    width:50%;
    display: flex;
    justify-content: space-between;
    margin:auto;
    margin-left: 3% ;
    cursor: pointer;
}

.MuiDialog-paperWidthSm{
    width:100%;
}

.MuiMenu-paper{
    background-color: white !important;
    height:90px !important;
}

@media only screen and (max-width : 1250px){
    .gridNote{
        width:70% !important;
    }
}

@media only screen and (max-width : 1070px){
    .gridNote{
        width:80% !important;
    }
}