@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");

.mainLogo {

  position:absolute;
  width:30vw;
  min-width: 400px;;
  left:calc( 50% - 15vw);
  min-height: 400px;;
  height:70%; 
  top:11%;
  box-shadow: 0px 0px 10px 10px gray;
  form{
    width:100%;
    height:100%;
  }
}

.signInLabel{
    position: relative;
    top: 30px;
    font-size: 1.7rem;
    font-weight: 700;
  }
  
  .loginInfo{
    position: relative;
    top:60px;
    font-size:1.5rem;
  }

  .goBackButton{
    position: relative;
    top:130px;
    left:-35%;
    }
    
    .findEmail{
    position: relative;
    top:130px;
    width:24%;
    border-radius: 0px;
    height:35px;
    left:35%;
    right:25px;
    font-size: 2rem;
    font-weight: 600;
    background-color:rgb(43, 43, 228) !important;
    &:hover{
        background-color:rgba(15, 15, 240, 0.698) !important;
      }
    }