.Logo{
    font-size: 1rem;
    text-shadow: 0 1px 1px rgb(0, 0, 0);
    font-weight: 500;
}

.logo-f-blue,.logo-d-blue{
    color:blue;
}

.logo-u-red,.logo-second-o-red{
    color:red;
}

.logo-n-yellow{
    color:yellow;
}

.logo-first-o-green{
    color:green;
}